.cd-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cd-container img {
  width: 400px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dt-items h3 {
  color: var(--primary-color);
}

@media screen and (max-width: 1200px) {
  .cd-container img {
    width: 300px;
  }
}

@media screen and (max-width: 950px) {
  .cd-container img {
    width: 200px;
  }
}

@media screen and (max-width: 850px) {
  .cd-container img {
    display: none;
  }
}
