.goal-container {
  text-align: center;
  background-image: url(../../images/goal-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.goal-container h1 {
  font-size: 68px;
  color: var(--feature-color);
}
